@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap');

.container__all__senasa{
    width: 100%;
    height: 100vh;
    display: flex;
    font-family: 'Space Grotesk', sans-serif;
}
.container__mapa__senasa{
    position: relative;
    width: 70%;
    height: 100vh;
}
.leaflet-container{
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* --------------------------------*/
.container__right__senasa{
    position: relative;
    width: 30%;
    height: 100vh;
}

.container__icono__sc{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4vh;
}
.container__icono__sc img{
    height: 80%;
}

.container__cantidad__moscas{
    height: 45vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}/*
.container__orden__moscas{
    width: 20%;
    height: 45vh;
}*/
.container__orden__moscas{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5%;
}
.container__orden__moscas img{
    /*width: 80%;
    margin-left: 10%;*/
    height: 6vh;
    cursor: pointer;
}
.container__orden__moscas .seleccionado{
    opacity: 0.4;
}

.container__porcentaje__bateria{
    height: 45vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.container__orden__porcentaje{
    /*width: 20%;
    height: 45vh;*/
    width: 100%;
    display: flex;
    justify-content: center;
}
.container__orden__porcentaje img{
    /*width: 100%;*/
    height: 8vh;
}

.container__trampa__cp{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container__trampa__cp .container__vn{
    width: 80%;
    margin-top: 1vh;
    box-shadow: 0 5px 5px #00000050;
    border-radius: 2px;
    cursor: pointer;
}

.container__trampa__cp .container__vn:hover{
    box-shadow: 0 0 3px #333;
}

/*---------------------------------------*/

.container__popup__senasa{
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
    z-index: 10;
    width: 320px;
    background-color: rgba(185, 185, 185, 0.7);
    border-radius: 10px;
    padding-bottom: 20px;
}