.container__main__detalles__i{
    color: white;
}
.container__main__detalles__i .container__titulo{
    text-align: center;
}
.container__main__detalles__i .container__search__{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}
.container__search__ input{
    width: 100%;
    height: 30px;
    border-radius: 10px;
}
.container__search__ .icon__search{
    position: absolute;
    height: 100%;
    color: white;
    right: 0;
    background-color: #7a5eb2;
    border-radius: 0 10px 10px 0;
    padding: 0 5px 0 5px;
}
.icon__search:hover{
    cursor: pointer;
}

/*----------------------- Acordeon ------------------------------*/
.accordion{
    margin-top: 10px;
    height: 50vh;
}
.item{
    color: black;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 20px;
}
.nombre{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nombre:hover{
    cursor: pointer;
}
.nombre span{
    position: absolute;
    right: 20px;
}
.contenido{
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}
.contenido.show{
    /*color: #8b7f75;*/
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
}

/*------------------------- contenido del acordeon*/
.container__datos__cvthbg{
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    background-color: #9AD64D;
    border-radius: 0px 0px 20px 20px;
}
.container__datos__cvthb{
    display: flex;
    justify-content: space-between;
}
.container__datos__c img{
    height: 80px;
}
.container__datos__vthb{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.container__datos__vth{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container__datos__v{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}



.container__btn__vermas{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container__btn__ver__mas{
    border: solid 1px #000;
    margin-top: 20px;
    padding: 5px 20px;
}
.container__btn__ver__mas:hover{
    cursor: pointer;
}