.container__main__detalles__i .container__titulo{
    text-transform: uppercase;
    font-size: 1.5rem;
}
.item2{
    color: black;
    background-color: #F0F0F0;
    margin-bottom: 120px;
    border-radius: 20px;
    margin-top: 50px;
}
.container__datos__cvthbg2{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
.container__datos__c2 img{
    height: 120px;
}
.container__datos__vth2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /*antes era 10px*/
}
.container__th2{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
}
.container__datos__v2{
    background-color: white;
    width: 200px;
    height: 50px;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.container__datos__b2{
    font-size: 1.1rem;
}

.container__btn__vermas2{
    margin-top: 30px;
    padding: 0 50px;
}
.container__btn__vermas2 .container__btn__ver__mas{
    padding: 0;
}
.container__btn__vermas2 a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 5px 0;
}