@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap');

.container-navbar{
    background: #fff;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding-left: 30px;
    padding-right: 30px;
    height: 100%;
    box-shadow: 0 -5px 5px -5px #333333;
    background-color: #17A589;
}

.container-logo-footer img {
    padding-top: 7px;
    height: 45px;
}

.container-secciones-nb{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    font-size: 20px;
    align-items: center;
    padding-left: 10%;
}

.menu{
    background-color: none;
    padding: 1%;  
}

.menu:hover{
    background-color: #f2f2f2;
    /* border-radius: 5px; */
}

.menu:hover a{
    color: #198CFF;
}

.container-secciones-nb a{
    text-decoration: none;
    color: #30363c;
}

/*  */

.dropbtn {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    font-size: 20px;
    align-items: center;
    padding-left: 10%;
    border: none;
    background-color: #17A589;
    color: white;
    text-shadow: 1px 1px 30px white;
    /*padding: 8%;*/
    /* border: solid 1px red; */
    /* border-radius: 5px; */
  }

  .dropbtn:hover {
    text-shadow: 1px 1px 40px cyan;
    color: cyan;
    cursor: pointer;
  }
  
  .dropdown {
    display: inline-block;
    /* border: solid 1px red; */
    width: 17%;
  }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #17A589;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-shadow: 1px 1px 30px white;
}

.dropdown-content a:hover {
    color: cyan;
    text-shadow: 1px 1px 30px white;
}

.dropdown:hover .dropdown-content {display: block;}


/*  */

.containter-cuenta-personas{
    display: flex;
    flex-direction: column;
    color: white;
    text-shadow: 1px 1px 30px white;
}

.container-cuenta-personas-top{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.container-cuenta-personas-top div:nth-child(1){
    text-align: center;
}

.container-cuenta-personas-bottom{
    display: flex;
    justify-content: center;
}

.container-cuenta-personas-bottom span{
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.container-cuenta-personas-bottom a:hover{
    color: #30363c;
}

/* .container-secciones-nb{
    display: flex;
    justify-content: space-around;
}
.container-navbar a{
    color: #30363c;
    text-decoration: none;
    font-size: 20px;
}

.container-navbar a:hover{
    color: red;
}
.container-contactanos-nb{
    background: red;
    padding: 0 10px 0 10px;
}
.container-contactanos-nb:hover{
    background-color: white;
}

@media only screen and (max-width: 767px) {

    .container-navbar{
        padding: 20px;
        display: flex;
        flex-direction: column;
        height: 100vh;
        z-index: 2;
    }
    .container-secciones-nb{
        width: 100%;
        height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
} */