.container__senasa__titulo{
    text-align: center;
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 1vh;
    margin-top: 2vh;
    text-transform: uppercase;
}
.container__depar__pais{
    text-align: center;
    font-size: 1.1rem;
}
.container__fecha__hora{
    text-align: center;
    font-size: 1.1rem;
}

/*-----------------------------*/

.container__img__cant__moscas__{
    margin-top: 1vh;
    margin-bottom: 2vh;
}
.container__img__cant__moscas__2{
    width: 90%;
    margin-left: 5%;
    display: flex;
    background: #ff8181;
    padding: 5px;
}
.container__imagen__popup__senasa{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__imagen__popup__senasa img{
    width: 70%;
}
.container__cantidad__moscas__popup{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.container__cantidad__moscas__popup span:nth-child(1){
    font-size: 2.5rem;
    font-weight: 800;
}
.cthpv{
    display: flex;
    margin-top: 1vh;
    width: 90%;
    margin-left: 5%;
    justify-content: space-between;
    font-size: 1.1rem;
}

/*-------------------------------------------------------*/
.container__btn__gd{
    display: flex;
    justify-content: space-around;
    margin-top: 2vh;
    font-size: 1rem;
}
.container__boton__senasa{
    width: 45%;
    bottom: 2vh;
    text-align: center;
    padding: 10px 0;
    background: #CAF5AF;
    margin-top: 10px;
    box-shadow: 0 0 4px #333;
}
.container__boton__senasa .link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.gd__senasa{
    color: #0069BF;
    stroke-width: 1.5;
}

.container__boton__senasa:hover{
    cursor: pointer;
    box-shadow: 0 0 7px #333;
}

@media (min-width: 1024px) and (max-width: 1280px){
    .container__senasa__titulo{
        font-size: 1.2rem;
    }
    .container__fecha__hora{
        font-size: 1rem;
    }
    .container__cantidad__moscas__popup{
        font-size: 1.5rem;
    }
    .container__cantidad__moscas__popup span:nth-child(1){
        font-size: 2.3rem;
    }
    .cthpv{
        font-size: 1rem;
    }
    .container__btn__gd{
        font-size: 0.9rem;
    }
}