@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap');

.container__control__aforo{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 20;
    overflow: hidden;
}

.container__control__aforo img{
    width: 100%;
    min-height: 100%;
    object-fit: contain;
}

.container__cp__capa{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 25;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.container__all__center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/*.........................................*/
.container__tittle{
    font-size: 5rem;
    font-weight: 800;
    color: white;
    width: 50%;
    text-align: center;
}
.container__all__right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.container__all__right .container__aa{
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
    padding: 0 70px 0 70px;
}
.container__icon__value{
    display: flex;
    gap: 10px;
}

.container__icon__value .container__icon__cp img{
    height: 7rem;
}
.container__icon__value .container__value{
    font-size: 8rem;
    font-weight: 700;
    color: #00B628;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.container__progress__bar{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    font-family: 'Space Grotesk', sans-serif;
}
.contianer__bar__v2{
    width: 70%;
}
.progress__bar{
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 5px;
}
.container__progress__bar .progress__actual{
    position: absolute;
    width: 10%;
    height: 30px;
    background-color: #00B628;
    top: 0;
    border-radius: 5px 0 0 5px;
}
.min{
    position: absolute;
    color: white;
    transform: translateX(-50%);
    font-size: 1.5rem;
}
.porcentaje{
    position: absolute;
    left: 0;
    color: #00B628;
    font-size: 1.5rem;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    transform: translateX(50%);
    border: solid 1px red;
}
.max{
    position: absolute;
}

.container__values{
    display: flex;
    justify-content: space-between;
}
.container__values span:nth-child(1){
    transform: translateX(-50%);
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
}
.container__values span:nth-child(2){
    color: #00B628;
    font-weight: 500;
    font-size: 1.5rem;
}
.container__values span:nth-child(3){
    transform: translateX(50%);
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
}

.container__bottom__{
    position: absolute;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px;
    font-family: 'Space Grotesk', sans-serif;
}

.container__bottom__ .container__same{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container__bottom__ .container__same div{
    text-align: center;
}
.container__bottom__ .download{
    font-size: 4rem;
    color: #00FFD1;
}
.container__bottom__ .download:hover{
    cursor: pointer;
    opacity: 0.9;
}

.container__bottom__ .hora{
    width: 110px;
}