.container__bienvenida{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100vh;
    background-color: white;
}

.container__bienvenida img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container__bienvenida::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(ellipse at center, transparent 0%, #1a1b1f 100%);
    /*opacity: 0.9;  ajusta la opacidad según tus preferencias */
  }
.container__titulo__bienvenida{
    position: absolute;
    top: 20vh;
    margin-left: 10%;
    z-index: 10;
    font-size: 6rem;
    color: white;
    font-weight: 700;
}

.container__boton__bienvenida{
    position: absolute;
    bottom: 20vh;
    z-index: 10;
    margin-left: 10%;
    display: block;
    background-color: #00a271;
    padding: 15px 30px;
    font-weight: 600;
    box-shadow: 0 1px 1px -1px rgb(255 255 255 / 80%) inset, 0 40px 20px -20px rgb(255 255 255 / 8%) inset, 0 -1px 1px -1px rgb(255 255 255 / 70%) inset, 0 -40px 20px -20px rgb(255 255 255 / 6%) inset, 0 11px 8px -3px rgb(255 255 255 / 40%), 0 4px 2px -2px rgb(0 0 0 / 30%), 0 1px 6px 1px rgb(0 0 0 / 50%);
}

.container__boton__bienvenida:hover{
    box-shadow: 0 1px 1px -1px rgb(255 255 255 / 80%) inset, 0 40px 20px -20px rgb(255 255 255 / 8%) inset, 0 -1px 1px -1px rgb(0 0 0 / 70%) inset, 0 -40px 20px -20px rgb(0 0 0 / 6%) inset, 0 11px 8px -3px rgb(0 0 0 / 40%), 0 4px 2px -2px rgb(0 0 0 / 30%), 0 1px 6px 1px rgb(0 0 0 / 50%);
}