/*navbar*/
.nav-calidad-aire{
    width: 100%;
    height: 120px;
    top: 0;
    left: 0;
    position: fixed;
    /*background-color: #067f7f;*/
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

}
.nav-superior{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-superior div img{
    height: 45px;
}

.container-tematica{
    font-size: 1.8rem;
    font-weight: 700;
}

.nav-calidad-aire ul{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.nav-calidad-aire ul li a{
    text-decoration: none;
    color: #5e715b;
    font-size: 1.4rem;
}

.nav-calidad-aire ul li a:hover{
    color: #6ba7b7;
}

.item{
    scroll-margin-top: 15ex;
}

html{
    scroll-behavior: smooth;
}
/*---------------------*/
.titulo-categoria{
    height: 80px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 20px;
    font-weight: 600;
    font-size: 1.5rem;
    background-color: #70806d;
    color: #fefefe;
}
.container-concentracion-de-gases{
    margin-top: 120px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-concentracion-de-gases-ctic{
    display: flex;
    justify-content: space-between;
}

.container-concentracion-de-gases-ctic .container-mapa{
    width: 45%;
}

.container-gauges-ca-ctic{
    width: 51%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.indice-calidad-aire{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5%;
    font-weight: 600;
    font-size: 1.5rem;
    color: #f84e01;
}
.container-2-gauges{
    height: 30%;
    display: flex;
    justify-content: space-between;
}

.container-2-gauges div{
    width: 49%;
}

.container-tipos-clasificacion{
    width: 2%;
}
.container-tipos-clasificacion div{
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 0.7rem;
    font-weight: 800;
    width: 100%;
    display: flex;
    align-items: center;
}

.buena{
    background-color: #00b347;
}
.moderada{
    background-color: yellow;
}
.insalubres{
    background-color: orange;
}
.insalubre{
    background-color: red;
}
.muy-insalubre{
    background-color: blueviolet;
}
.peligroso{
    background-color:peru;
}

.container-concentracion-de-gases .container-historico-cg{
    position: relative;
    width: 90%;
    margin-left: 5%;
    height: 500px;
    z-index: 0;
}

.container-concentracion-de-gases .container-historico-cg iframe{
    z-index: 0;
}

.container-aire{
    background-color: #e6e4e0;
    padding: 10px;
}