.container__caic__banner{
    display: flex;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    justify-content:space-around;
    align-items: center;
    font-size: 1.4rem;
    padding: 5px;
}
.container__caic__banner .imagen img{
    height: 70px;
}

.container__imagen__sensores{
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
}