body{
    padding: 1%;
    margin: 0;
}
.container-main{
    display: flex; 
    position: relative;
    gap: 1%;
}

.container-logo-time-aforo-dashboard{
    display: flex; 
    gap: 10px;
    flex-direction: column; 
    width: 29%; 
    align-items: center;
    padding-top: 10px;
}

.container-logo-time-aforo-dashboard img{
    width: 90%;
    padding-top: 1%;
    padding-bottom: 10%;
}

iframe {
    border:1px solid #eaebeb;
    border-radius: 3px;
}  

.container-dashboard{
    height: 25%;
    width: 95.5%;
    border:1px solid #eaebeb;
    background-color: white;
    border-radius: 3px;
    padding: 5px 10px 0px 10px;
}

.container-dashboard-title{
    padding-top: 2%;
    padding-bottom: 4%;
    text-align: center;
    font-size: 0.9rem;
    font-weight:bold;
    color: #24292e;
    font-family: Arial;
}

.container-dashboard a{
    text-decoration: none; 
    color: black;
    background-color:#eaebeb;
    display: block;
    border-radius: 3px;
    padding: 2% 4% 2% 1%;
}   

.container-dashboard a:hover{
    background: #dcdfdf;
}

.container-map-dashboard{
    width: 70%; 
    position: relative;
}

/*Responsive para mobile*/
@media only screen and (max-width: 767px) {
    .container-main{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .container-logo-time-aforo-dashboard{
        width: 100%;
    }

    .container-map-dashboard{
        width: 100%;
    }
}
