.container__detalle__ca__main{
    display: flex;
    height: 90vh;
    margin-top: 5vh;
}

.container__estado__cai{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px 20px 40px;
    position: relative;
}

.selector__de__lugar__cai{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    height: 35px;
}
.selector__de__lugar__cai .select{
    height: 100%;
    width: 70%;
    font-size: 1rem;
}
.selector__de__lugar__cai .select:hover{
    cursor: pointer;
}
.custom-select{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 20;
    background-color: white;

}

.selected-option{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 1px #000;
}
.selected-option div:nth-child(1){
    padding-left: 5px;
}
.options{
    width: 100%;
    z-index: 20;
    background: white;
    box-shadow: 0 0 5px #333;
    display: flex;
    flex-direction: column;
}
.options a{
    padding: 5px;
    text-decoration: none;
    color: #000;
}
.options a:hover{
    color: #333333;
}


.container__detalle__ca__right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cdd{
    display: flex;
    flex-direction:column;
    justify-content: center;
    background-color: #f3f7fb;
    padding-top: 30px;
    padding-bottom: 30px; 
    font-size: 15px; 
    height:20vh;
}
.container__tipos__gases__cai{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom:50px;
    margin-top: 50px;
}

.container__tipos__gases__cai div{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-radius: 20px;
    text-transform:uppercase;
    border: solid 1px #2086D8;
    background-color: #f3f7fb;
}
.container__tipos__gases__cai div:hover{
    cursor: pointer;
    background-color: #009AF2;
}
.container__grafico__rangos__tipos__gases__{
    margin-bottom: none;
    height: 70vh;
}

.container__tipos__gases__cai .seleccionado{
    background-color: #009AF2;
}


/*Funcinalidades*/