.container-image{
    width: 100%;
    align-items: center;
    padding-left: 1%;
    padding-bottom: 0.7%;
}

.container-university-main{
    display: flex;
    width: 100%;
    gap: 1%;
}

.container-university-main .container-logo-map{
    display: flex;
    flex-direction: column;
    width: 65%;
}

.container-university-main .container-name-university-dash{
    display: flex;
    flex-direction: column;
    width: 34%;
    align-items: center;
    gap: 15px;
}/*
.container-name-university-dash .container-dash iframe{
    width: 100%;    
}*/

.container-university-main .container-name-university-dash .container-name-logo-university{
    width: 100%;
    display: flex;
    justify-content: center;
}
.container-name-logo-university img{
    width: 90%;
    padding-top: 4%;
}
.container-name-university{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: 700;
}
.container-name-university-dash .container-dash a{
    text-decoration: none;
    color: #000000;
    padding: 4% 4% 4% 1%;
    margin-top: 0.8%;
    background-color: #f4f5f5;
    border-radius: 3px;
    border:0px solid #eaebeb;
}

.container-dash{
    width: 95%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border:1px solid #eaebeb;
    border-radius: 3px;
}
.container-dash .container-title-dash-2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:bold;
    font-size: 0.88rem;
    padding-top: 0%;
    padding-bottom: 4%;
    color: #24292e;
    font-family:Arial, Helvetica, sans-serif;
}

/*Responsive para mobile*/
@media only screen and (max-width: 767px) {
    .container-university-main{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    .container-university-main .container-name-university-dash{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .container-university-main .container-logo-map{
        display: flex;
        width: 100%;
        margin-top: 20px;
    }
}