.icon-sensor{
    background-color: cyan;
    font-size: 40px;
}
.page-sensor-info{
    display: flex;
    width: 100vw;
    height: 100vh;
    

}
.container-info-sensors{
    padding: 5px;
    flex-grow: 1;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: auto;
    justify-content: space-around;
    
}
.container-info-detailed{
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


/*----------------*/
.sensor-alert-info{
    width: 220px;
    
    border-radius: 5px;
    box-shadow: 4px 4px 3px 3px rgba(0, 0, 0,0.5);
    border: 2px solid #00000022;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    position: relative;
}
.sensor-alert{
    width: 180px;
    max-height: 260px;
    border-radius: 5px;
    box-shadow: 4px 4px 3px 3px rgba(0, 0, 0,0.5);
    border: 2px solid #00000022;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}
.sensor-inactivo {
    background-color: rgb(255, 0, 0);
}
.sensor-activo{
    background-color: white;
}
.sensor-deshabilitado {
    background-color: yellow;
}
.ocultar-info-detalled{
    position: absolute;
    top: -10px;
    left: -10px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
.container-general{
    padding: 0;
}