.container__main__all__dp{
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    background: white;
    display: flex;
}

/*---------------------------*/
.container__left__dp{
    height: 100vh;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}
.container__left__dp .container__cantidad{
    display: flex;
    width: 100%;
    font-size: 2rem;
    font-weight: 500;
}
.container__is__dp{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container__is__dp div:nth-child(2){
    font-size: 5rem;
    font-weight: 600;
}

/* -----------------------------------*/
.container__right__dp{
    width: 45%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    background-color: #2e425a;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}
.container__main__hi__dp{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container__main__hi__dp .container__ultimo{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
}
.container__hora__img_dp{
    width: 100%;
    background-color: #F55444; /*verde: #38D15F, rojo*/
    padding: 10px;
    border-radius: 8px;
    color: #EDEDED;
}
.container__hora__img_dp img{
    width: 100%;
}
.container__hora__img_dp div:nth-child(3){
    text-align: center;
    font-size: 1.8rem;
    color: white;
    font-weight: 600;
}
.container__hora__img_dp div:nth-child(1){
    text-align: center;
    font-weight: 600;
    font-size: 1.8rem;
}/*
.container__hora__img_dp span{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0 20px;
    border-radius: 5px;
}*/

/*---------------------------------------------------*/
.container__main__form__dp{
    padding: 10%;
    background-color: #45576e;
    color: #c2a77c;
    font-weight: 500;
    width: 80%;
}
.container__form__dp{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.container__title__form__dp{
    color: #fdfcf9;
    font-weight: 700;
    text-align: center;
    font-size: 1.8rem;
}
.container__btn__registrar__dp{
    background-color: #c2a77c;
    color: #fdfcf9;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}
.container__form__dp .input{
    color: black;
    padding: 5px;
    width: 100%;
}
.container__condicion{
    background: white;
}
.container__condicion .opcion{
    display: flex;
    margin-left: 5px;
    color: black;
    gap: 5px;
}
/*----------------------------*/

.carro__movimiento{
    position: relative;
    width: 100%;
    height: 3vh;
    overflow: hidden;
}
.carro{
    position: absolute;
    width: 100%;
    height: auto;
    animation: moveCar 7s linear infinite;
}
.carro__movimiento img{
    height: 3vh;
}

@keyframes moveCar {
    0%{
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(100%); /* Ajusta el valor de acuerdo al ancho del div */
    }
}