.container__all__sp{
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    min-height: 100vh;
    z-index: 20;
    width: 100%;
}

.container__mapa__sp{
    position: relative;
    width: 100%;
    height: 100vh;
}
.flex-column{

    flex-direction: column;
}
.tittle-general{
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    background-color: #081a51;
    color: white;
}
.popup-smart-parking{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.507);
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.cont-smart-parking-tr{
    width: 80%;
    height: 90%;
    background-color: red;
    animation: entradaPopup 0.2s ease-in-out forwards;
}

@keyframes entradaPopup{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
.container__leyenda__sp{
    width: 270px;
    height: 110px;
    position: absolute;
    z-index: 50;
    bottom: 80px;
    left: 20px;
    background-color: white;
    box-shadow: 0 7px 20px #00000050;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.icono__desc__sp{
    display: flex;
    align-items: center;
    margin-left: 25px;
    gap: 10px;
}
.icono__desc__sp img{
    height: 40px;
}